*{
  font-family: Microsoft YaHei, serif;
}

/*简约滚动条*/
.simple-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.simple-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.simple-scroll::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 2px;
}

.simple-scroll::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 2px;
}

.simple-scroll::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

.simple-scroll::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
/*简约滚动条 end*/

.icon{
  height: 23px;
  width: 23px;
}

.lightbox {
  box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 48px);
}

/* 替换 code 样式 参考vuetify kbd*/
code {
  background-image: initial;
  background-color: #616161 !important;
  color: #ffffff !important;
}
