*{
  font-family: Microsoft YaHei, serif;
}

/*简约滚动条*/
.simple-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.simple-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.simple-scroll::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 2px;
}

.simple-scroll::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 2px;
}

.simple-scroll::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

.simple-scroll::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
/*简约滚动条 end*/

.icon{
  height: 23px;
  width: 23px;
}


/* 替换 code 样式 参考vuetify kbd*/
code {
  background-image: initial;
  background-color: #616161 !important;
  color: #ffffff !important;
}
pre,code{
  font-family: consolas, monospace !important;
  /*todo 考虑一下?*/
  /*font-family: CharlieSans !important;*/
}
pre {
  background-image: initial;
  background-color: #616161 !important;
  color: #ffffff !important;
  padding:3px;
}
pre>code{
  box-shadow: none;
}

.logo-md{
  width: 100px;
  height: 47px;
  display: block;
}

.form {
  width: 30vw;
  margin-top: 3vh;
  border: 1px solid rgba(193, 193, 193, 0.7);
  padding: 30px;
}


/* 按钮去除内容的 display: flex */
.v-btn.no-flex>.v-btn__content{
  display: inline;
}


/*全局过渡动效*/
.page-enter-active, .page-leave-active {
  transition: all 0.3s;
  /*transform: translate3d(10,10,20px);*/
}
.page-enter, .page-leave-active {
  opacity: 0;
  /*transform: scale(0);*/
  /*transform: rotateY(130deg);*/
  transform: translateX(-1000px);
}
[v-cloak]{
  display:none
}

/*禁用按钮大小写转换*/
.v-btn{
  text-transform: none !important;
}

/*字符间隔*/
.letter-space{
  letter-spacing: 3px;
}

/*分割器*/
.dark-divider {
  height: 10px;
  background: #303030;
}
.light-divider {
  height: 10px;
  background: #fafafa;
}

/*去掉v-list的下面多余部分*/
.v-list{
  padding-bottom: 0 !important;
}

.mini .v-treeview-node--leaf > .v-treeview-node__root{
  padding-left: 0 !important;
}

/*去掉悬浮按钮样式*/
.no-hover-active::before,.no-hover-active:focus::before,.no-hover-active::before{
  opacity: 0 !important;
}
/*去除点击样式*/
.no-ripple>.v-ripple__container{
  display:none;
}


/*小徽标*/
.small-badge .v-badge__badge{
  min-width: 0;
  font-size: 5px;
  height: 15px;
  width: 15px;
}
