html{
  font-size: 16px !important;
}
*{
  font-family: Microsoft YaHei, serif;
}

/*简约滚动条*/
.simple-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.simple-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.simple-scroll::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 2px;
}

.simple-scroll::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 2px;
}

.simple-scroll::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

.simple-scroll::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
/*简约滚动条 end*/

.icon{
  height: 23px;
  width: 23px;
}


/* 替换 code 样式 参考vuetify kbd*/
code {
  background-image: initial;
  margin: 0 4px;
  font-weight: bold !important;
}
pre,code{
  font-family: consolas, monospace !important;
  box-shadow: none !important;
  color: white !important;
  background-color: #2f2e2e !important;

  /*todo 考虑一下?*/
  /*font-family: CharlieSans !important;*/
}
span[class*='hljs']{
  font-family: consolas, monospace !important;
}
pre {
  overflow: auto !important;
  max-height: 600px !important;
  display: block !important;
  padding: 12px 8px !important;
  margin-bottom: 1em !important;
  font-size: 14px !important;
  /*background-color: #eff0f1 !important;*/
  border-radius: 3px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}
pre>code{
  box-shadow: none !important;
  margin: 0 !important;
}

.form {
  width: 30vw;
  margin-top: 3vh;
  border: 1px solid rgba(193, 193, 193, 0.7);
  padding: 30px;
}


/* 按钮去除内容的 display: flex */
.v-btn.no-flex>.v-btn__content{
  display: inline;
}


 /*Enter and leave animations can use different */
 /*durations and timing functions.              */
.page-enter-active {
  transition: all .3s ease;
}
.page-leave-active {
  /*transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
  opacity: 0;
}
.page-enter
  /* .slide-page-leave-active below version 2.1.8 */ {
  transform: translateX(-50px);
  opacity: 0;
}
.page-leave {
  opacity: 0;
}
.page-leave-to
  /* .slide-page-leave-active below version 2.1.8 */ {
  transform: translateX(50px);
  opacity: 0;
}
[v-cloak]{
  display:none
}

/*禁用按钮大小写转换*/
.v-btn{
  text-transform: none !important;
}

/*字符间隔*/
.letter-space{
  letter-spacing: 3px;
}

/*分割器*/
.dark-divider {
  height: 10px;
  background: #303030;
}
.light-divider {
  height: 10px;
  background: #fafafa;
}

/*去掉v-list的下面多余部分*/
.v-list{
  padding-bottom: 0 !important;
}

.mini .v-treeview-node--leaf > .v-treeview-node__root{
  padding-left: 0 !important;
}

/*去掉悬浮按钮样式*/
.no-hover-active::before,.no-hover-active:focus::before,.no-hover-active::before{
  opacity: 0 !important;
}
/*去除点击样式*/
.no-ripple>.v-ripple__container{
  display:none;
}


/*小徽标*/
.small-badge .v-badge__badge{
  min-width: 0;
  font-size: 5px;
  height: 15px;
  width: 15px;
}

/*编辑器操作区置顶*/
.ql-tooltip {
  z-index: 9999;
  background-color: #312e2e !important;
}

.v-application .theme--light .my_gray--text{
  color: #808080 !important;
}

.v-application .theme--dark .my_gray--text{
  color: #d3d3d3 !important;
}

p{
  margin-bottom: 1em !important;
}

/* checkbox 下边距*/
.v-input.mb-0 .v-input__slot{
  margin-bottom: 0 !important;
}

/* 动效 */
.fade-enter-active{
  transition: opacity .3s;
}
.fade-leave-active{
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/*---list */
.list-enter-active, .list-leave-active {
  transition: all 0.2s;
}
.list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(-30px);
}
.list-enter {
  opacity: 0;
  transform: translateX(-30px);
}
/*---list down*/
.list-down-enter-active {
  transition: all 0.2s;
}
.list-down-leave-active {
  transition: all 0s;
}
.list-down-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.list-down-enter {
  opacity: 0;
  transform: translateY(-15px);
}

/* 较细的输入框 */
.min-input > .v-input__control {
  min-height: 36px !important;
}


p img {
  max-width: 100%;
  max-height: 500px;
}
.v-list-item__action{
  margin-right: 16px !important;
}

.v-text-field .error--text {
  color: #ff6600 !important;
}
.v-application .v-text-field__details .error--text {
  color: #ff6600 !important;
}

.hover-line {
  text-decoration: none;
}
.hover-line:hover {
  /*text-decoration: underline;*/
  color: #072b98 !important;
}
.theme--light .no-shadow-box {
  box-shadow: none;
  border: 1px solid #e7e7e7;
}
.theme--dark .no-shadow-box {
  box-shadow: none;
  border: 1px solid #4b4b4b;
}

.flat-text {
  box-shadow: none;
}
.theme--light .flat-text .v-input__slot {
  border: 1px solid #e7e7e7;
}
.theme--dark .flat-text .v-input__slot {
  border: 1px solid #4b4b4b;
}
table tr{
  border-top: 1px solid #c6cbd1;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
table td,:not(v-data-table__wrapper) table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.v-data-table__wrapper table {
}
.v-data-table__wrapper table td,.v-data-table__wrapper table th, .v-data-table table tr {
  border:none;
}

/*.v-label {*/
/*  color: rgba(255,255,255, 0.54) !important;*/
/*}*/
.theme--light.v-application {
  /*background-color: #fcfdfd*/
}
.v-application a{
  color: #0366d6;
}
.right-box {
  background-color: white !important;
  /*box-shadow: 3px 2px 11px 1px rgba(231, 231, 231, 0.71) !important;*/
  box-shadow: 0 1px 3px rgba(26,26,26,.1) !important;
  /*border: 1px solid #e7e7e7 !important;*/
  border-radius: 3px !important;
}
.flat .v-menu__content {
  box-shadow: 3px 2px 11px 1px rgba(231, 231, 231, 0.71) !important;
  border-radius: 3px !important;
}

.v-card:not(.v-card--flat) {
  /*box-shadow: 0 1px 3px rgba(26,26,26,.1);*/
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
> .v-input__control
> .v-input__slot {
  box-shadow: 0 1px 2px rgba(26,26,26,.1) !important;
}

.theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content) {
  background: none !important;
}

.v-dialog {
  box-shadow: 0 5px 20px rgba(26,26,26,.1) !important;
}
